*{
    font-family: 'Signika Negative', sans-serif;
    box-sizing: border-box;
    
}
body {
    
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    background-repeat: no-repeat;
    
}
h2{
    font-size: 80px;
}
h1{
    font-size: 60px;
}